<style type="text/css">
    h1{
        font-size:45px;
        text-align: center; 
        color:white;
        margin-top: -45vh;
        margin-bottom: 50vh;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    }
    body{
        font-family:'Raleway', 'Open Sans', sans-serif;
        background-color:#DAC7C6   ;
    }
    #myform {
        margin: auto;
        width: 50%;
        padding: 10px;
        border-radius: 15px;
        background-color: rgba(242, 242, 242,.95);
        padding: 20px;
        margin-top: -42vh;
    }
    #result{
        text-align:center;
        left:350px; 
        color:white;
        font-size:30px;
    } 
    input,select {
    position:center;    
    width:30%;
    height: 100%;
    padding: 12px 20px; 
    margin:10px;
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8; 
    font-size: 16px; 
    resize: none; 
    }
    option{  
        font-family:'Raleway', 'Open Sans', sans-serif;
        padding:6px;
    }
    button{
        background-color: #967F7E;
        color: white;
        font-weight:bold;
        font-size:110%;
        padding:14px 1px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;    
    }
    label [for=age]{
        font-size:50;
    }

    #cont{
        height:50vh;
        background-image: url('heartbeat.jpeg');
        background-size: cover;
        background-position: middle;
        background-repeat: no-repeat;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 0px 15px 8px #967F7E;
    }
    input:focus,select:focus {
    outline-width: 0;
    }
    .boxvisit{
        border-color: #c4928d !important;
    }
</style>
